#loginMenu,
#cadastroMenu,
#cadastroSucesso {
    display: flex;
    flex-direction: column;

    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;

    opacity: 0;
    pointer-events: none;

    width: 320px;
    max-width: 90%;

    background: rgb(var(--branco));
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(var(--preto), 0.3);
    padding: 2em;
}
    #loginMenu.ativo,
    #cadastroMenu.ativo,
    #cadastroSucesso.ativo {
        opacity: 1;
        pointer-events: all;
        transform: translate(-50%, -50%) scale(1);
    }

    #loginMenu section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .tela p {
        margin: 10px 0;
    }
    .tela p,
    .erro {
        text-align: center;
        font-size: 0.7em;
    }
        .erro-shake {
            border: 2px solid red !important;
            animation: tremer 0.2s ease-in-out;
        }
            @keyframes tremer {
                0% { transform: translateX(0); }
                25% { transform: translateX(-10px); }
                50% { transform: translateX(10px); }
                75% { transform: translateX(-10px); }
                100% { transform: translateX(0); }
            }

    #loginMenu input,
    #cadastroMenu input {
        width: 100%;

        border: none;
        border-radius: 8px;
        margin: 8px 0;
        padding: 10px;
        text-align: center;

        background: white;
    }
        #loginMenu input::placeholder,
        #cadastroMenu input::placeholder {
            text-align: center;
        }

    .btn {
        font-weight: 600;
        padding: 10px;

        background: rgb(var(--corPrimaria));
        color: rgb(var(--branco));

        flex-shrink: 0;
    }
        #btnVoltar {
            align-self: start;
            cursor: pointer;
            display: none;

            font-size: 0.8em;
            padding: 10px;

            color: rgb(var(--corPrimaria));
        }

    #login_esqueceuSenha {
        cursor: pointer;

        color: rgb(var(--corPrimaria));
        text-align: center;
        font-size: 0.85em;
        margin: 10px 0;
    }
    #login_emailRec {
        margin-bottom: 16px !important;
    }
    #btnLogin {
        padding: 9px;
        margin: 0 5px;
    }

    #btnLogout {
        display: none;
        padding: 9px;
        margin: 0 5px;
    }