/* fontes usadas: Montserrat e Roboto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("globalCards.css");
@import url("globalFooter.css");
@import url("globalFormularios.css");
@import url("globalHeader.css");
@import url("globalLaterais.css");
@import url("globalLogin.css");
@import url("globalNavbar.css");
@import url("globalVagas.css");

:root {
    --branco: 245, 245, 245;
    --preto: 41, 41, 46;
    --corPrimaria: 54, 61, 99;
    --corRealce: 61, 73, 143;

    --fontePrimaria: "Roboto", sans-serif;
    --fonteSecundaria: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--corPrimaria);
}

body {
    background-color: rgba(var(--branco), 1);
    color: rgba(var(--preto), 1);
    margin: 0;

    font-family: var(--fontePrimaria);
    font-size: 0.9em;
}

h1 {
    font-family: var(--fontePrimaria);
    font-weight: 700;
    margin-top: 0;
}

h2 {
    font-weight: 400;
}

button {
    cursor: pointer;
    user-select: none;
}

.api {
    display: flex;
    align-items: center;
    justify-content: center;
}
    .api img {
        position: relative;
        z-index: 1;

        height: 32px;
        width: 32px;

        margin: 4px;
    }

#overlay {
    pointer-events: none;

    position: fixed;
    inset: 0;
    z-index: 3;

    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    opacity: 0;
}
    #overlay.ativo {
        opacity: 1;
        pointer-events: all;
    }