<html>

<head>
         <link rel="stylesheet" href="../static/rsc/style.css">
        <link rel="stylesheet" href="../static/rsc/vagas.css">
         <title>job sniffer</title>
         <link rel="icon" type="image/x-icon" href="../static/icon/icon.svg">
</head>

<body>

<ul class="navbar">

    <li>
        <a href="/">
            <img src="../static/icon/dog.svg" id="logo"/>
        </a>
    </li>

    <li>
        <a href="/" id="titulo">
            job sniffer
        </a>
    </li>

    <li>
        <a href="#">Login</a>
    </li>
</ul>

<header>
    <img src="../icon/images.jpeg" />
    <h1>vagas recomendadas</h1>
</header>

<div class="fundo">

<button class="filtro selecionado" data-filtro="todos">Ver tudo</button>
<button class="filtro" data-presenca="0">Presencial</button>
<button class="filtro" data-presenca="1">Híbrido</button>
<button class="filtro" data-presenca="2">100% Remoto</button>
<button class="filtro" data-tempo="1">Tempo integral</button>
<button class="filtro" data-tempo="0">Meio período</button>

<div id="vaga"></div>

</div>

<script type="module" src="../static/rsc/vagas.js"></script>

</body>
</html>