/* fontes usadas: Montserrat e Roboto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* cores usadas */
:root {
    --branco: 245, 245, 245;
    --preto: 18, 18, 18;
    --cinza: 217, 217, 217;

    --realce: 39,39,87; /* midnightblue */
    --primaria: 80, 80, 129;
/*    --primaria: 70, 130, 180; /* steelblue */ */

    --fontePrimaria: "Montserrat", sans-serif;
    --fonteSecundaria: "Roboto", sans-serif;
}

/* variáveis globais */
a {
    text-decoration: none;
    color: var(--realce);
}

body {
    background-color: rgba(var(--branco), 1);
    color: rgba(var(--preto), 1);
    margin: 0;

    font-family: var(--fonteSecundaria);
    font-size: 0.9em;
    font-weight: 300;
}

h1 {
    font-family: var(--fontePrimaria);
    font-weight: 400;
    margin-top: 0;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    font-size: 2em;

    color: rgba(var(--preto), 1);
    padding: 0.8em;
}

.navbar > li {
    padding: 0 0.2em;
    text-decoration: none;
    display: flex;
    font-size: 0.6em;
}

ul {
    padding: 0;
    margin: 0;
    width: 75%;
    justify-self: center;
}

    .links {
        margin-left: auto;
        margin-right: auto;
    }

        .links a {
            margin: 0 8px;
        }

    #logo {
        height: 1em;
        width: auto;
        vertical-align: middle;
    }

    #titulo {
        font-family: var(--fontePrimaria);
        font-weight: 800;
        font-size: 1.5em;
    }

    #login, #cadastro {
        padding: 9px;
        margin: 0 5px;
    }

    #cadastro {
        color: rgba(var(--branco), 1);
        background-color: rgb(var(--realce));
        border-radius: 16px;
    }

/* header */
header {
    width: 97.5%;
    min-height: 80vh;
    border-radius: 16px;
    margin-bottom: 1em;

    display: flex;
    align-items: flex-end;
    justify-self: center;

    position: relative;
    overflow: hidden;
    }

header h1 {
    user-select: none;
    word-wrap: break-word;
    margin-left: 2em;

    color: rgba(var(--branco), 1);
    font-size: 3em;
    font-weight: 900;

    text-shadow: 5px 5px 20px rgba(var(--preto), 0.2);
    }

    header img {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;

        z-index: -3;
    }

    header::before {
        content: "";
        position: absolute;
        inset: 0;
    
        background-color: rgb(var(--realce));
        mix-blend-mode: color;
    
        z-index: -2;
    }

    header::after {
        content: "";
        position: absolute;
        inset: 0;

        background: linear-gradient(
            to bottom,
            rgba(var(--preto), 0) 0%,
            rgba(var(--preto), 0.25) 40%,
            rgba(var(--preto), 0.75) 100%
        );

        z-index: -1;
    }

/* fundo do corpo */
.fundo {
    padding: 1em 0;
    width: 85%;

    display: flexbox;
    justify-items: end;
    justify-self: center;
}

/* botões laterais */
#cantoDaTela {
    position: fixed;
    right: 16px;
    bottom: 16px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

#cantoDaTela section {
    user-select: none;
    cursor: pointer;
    display: inline-block;

    font-weight: 800;
    font-size: 2em;

    background-color: rgb(var(--realce));
    color: rgb(var(--branco));
    border: 1px solid rgba(var(--branco),0.1);
}

#chatbot {
    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    padding: 0.01em;

    background-image: url(../icon/dormindo.svg);
    border-radius: 50%;

    width: 100px;
    height: 100px;
}

    @media (max-width: 1080px) {
        #chatbot {
            background-size: 60%;
            padding: 18px;

            height: 32px;
            width: 32px;
        }
    }

    #chatbot:hover {
        background-image: url("../icon/latindo.svg");
        transition-duration: 0.5s;
    }

#irAoTopo {
    user-select: none;
    cursor: pointer;

    position: relative;
    width: auto;
    display: inline-block;

    padding: 0.1em 0.4em;
}

/* footer */
.footer {
    padding: 1em 10em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10em;
    justify-content: center;
    margin: 0;

    background-color: rgb(var(--realce));
    color: rgb(var(--branco));
}

    @media (max-width: 1080px) {
        .footer {
            grid-template-columns: 1fr;
            gap: 2em;
        }
    }

.footer h3 {
    margin: 0;
}

.footer hr {
    margin: 4px 0;
}

.footer a {
    display: block;
    text-transform: uppercase;
}