/* fontes usadas: Montserrat e Roboto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* cores usadas */
:root {
    --branco: 235, 235, 235;
    --preto: 41, 41, 46;
    --cinza: 225, 225, 225;

    --realce: 39,39,87; /* midnightblue */
    --primaria: 80, 80, 129;
/*    --primaria: 70, 130, 180; /* steelblue */
    --complementar: hsl(from rgb(var(--primaria)) 180deg s 70%);

    --fontePrimaria: "Montserrat", sans-serif;
    --fonteSecundaria: "Roboto", sans-serif;
}

/* variáveis globais */
a {
    text-decoration: none;
    color: var(--realce);
}

body {
    background-color: rgba(var(--branco), 1);
    color: rgba(var(--preto), 1);
    margin: 0;

    font-family: var(--fonteSecundaria);
    font-size: 0.9em;
}

h1 {
    font-family: var(--fontePrimaria);
    font-weight: 400;
    margin-top: 0;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    font-size: 2em;

    color: rgba(var(--preto), 1);
    padding: 0.8em;
}

.navbar > li {
    padding: 0 0.2em;
    text-decoration: none;
    display: flex;
    font-size: 0.6em;
        margin-left: auto;
        margin-right: auto;
}

ul {
    margin: 0;
    width: 75%;
    justify-self: center;
}
    .links a {
        margin: 0 8px;
    }
    #logo {
        height: 1em;
        width: auto;
        vertical-align: middle;
    }
    #titulo {
        text-wrap: nowrap;

        font-family: var(--fontePrimaria);
        font-weight: 800;
        font-size: 1.5em;
        color: black;
    }
    #loginBtn, #cadastro {
        padding: 9px;
        margin: 0 5px;
    }
    #cadastro {
        color: rgba(var(--branco), 1);
        background-color: rgb(var(--realce));
        border-radius: 16px;
    }

/* header */
header {
    width: 97.5%;
    min-height: 80vh;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: end;

    position: relative;
    overflow: hidden;
    }

header h1 {
    user-select: none;

    margin-left: 2em;
    margin-bottom: 1em;
    align-self: flex-start;

    color: rgba(var(--branco), 1);
    font-size: 3em;
    font-weight: 900;

    text-shadow: 5px 5px 20px rgba(var(--preto), 0.2);
    }

    header img {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;

        z-index: -3;
    }

    header::before {
        content: "";
        position: absolute;
        inset: 0;
    
        background-color: rgb(var(--realce));
        mix-blend-mode: color;
    
        z-index: -2;
    }

    header::after {
        content: "";
        position: absolute;
        inset: 0;

        background: linear-gradient(
            to bottom,
            rgba(var(--preto), 0) 0%,
            rgba(var(--preto), 0.25) 40%,
            rgba(var(--preto), 0.75) 100%
        );

        z-index: -1;
    }

/* fundo do corpo */
.fundo {
    padding: 1em 0;
    width: 100%;

    overflow: hidden;
    overflow-wrap: break-word;

    justify-self: center;
    justify-items: center;
}

/* botões laterais */
#cantoDaTela {
    position: fixed;
    right: 16px;
    bottom: 16px;

    flex-direction: column;
    align-items: end;
    gap: 10px;
}

#cantoDaTela section {
    user-select: none;
    cursor: pointer;
    display: flex;

    box-shadow: 5px 5px 5px rgba(var(--preto), 0.2);
    background-color: rgb(var(--realce));
}

#irAoTopo, #chatbot {
        cursor: pointer;

        background-position: center;
        background-repeat: no-repeat;
        padding: 0.01em;

        background-size: 60%;
        border-radius: 100%;

        transition-duration: 0.5s;
}

#irAoTopo {
    position: fixed;
    bottom: 90%;

    opacity: 0;
    visibility: hidden;
    
    height: 50px;
    width: 50px;

    background-image: url(../icon/seta.svg);
}
    #irAoTopo.visible {
        opacity: 1;
        visibility: visible;
    }

    #chatbot {
        background-image: url(../icon/dormindo.svg);

        height: 100px;
        width: 100px;
    }
        #chatbot:hover {
            background-image: url("../icon/latindo.svg");
            transition-duration: 0.5s;
        }

    @media (max-width: 1080px) {
        #chatbot {
            padding: 18px;

            height: 32px;
            width: 32px;
        }
        #irAoTopo, #pesquisar {
            height: 32px;
            width: 32px;
        }
    }

/* footer */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-content: center;
    gap: 10em;
    margin: 0;
    padding: 1em 20em;

    background-color: rgb(var(--realce));
    color: rgb(var(--branco));
}
    @media (max-width: 1080px) {
        .footer {
            grid-template-columns: 1fr;
            gap: 2em;
        }
    }
    .footer h3 {
        margin: 0;
        text-transform: uppercase;
    }
    .footer hr {
        margin: 4px 0;
    }
    .footer section img {
        display: inline;
        width: 32px;
        padding: 8px;
    }

/* menu de login */
    #loginBtn {
        cursor:pointer;
    }
        .dropdown {
            position:absolute;
            display:none;

            top: 4.85em; /* temporário */
            width: 30vh;

            background: rgba(var(--branco), 0.75);
            backdrop-filter: blur(6px);

            padding: 1em;
            border-radius: 16px;
            z-index: 2;
        }
            #voltarBtn {
                display: none;
                cursor: pointer;

                color: rgb(var(--realce));
                font-size: 1.5em;
                font-weight: bold;

                margin-bottom: 10px;
            }
            #telaLogin, #telaSenha, #telaCadastro {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

    #loginMenu label {
        align-self: flex-start;
        font-size: 0.9em;
        margin-top: 10px;
    }

    /* caixa de texto */
    #loginMenu input {
        border: none;

        border-radius: 8px;
        margin: 5px 0 10px;
        padding: 10px;

        width: 100%;
    }

    /* alinhamento de troca de senha e cadastro */
    #esqueceu, #cadastrar {
        width:100%;
        text-align:center;
        color:rgb(var(--realce));
        font-size: 0.9em;
        cursor: pointer;
        margin: 5px 0;
    }

    #loginMenu .btn {
        cursor: pointer;

        border: none;
        border-radius: 8px;
        margin-top: 10px;
        padding: 10px;
        width: 40%;

        background: rgb(var(--realce));
        color:rgb(var(--branco));
        font-weight: bold;
    }
        #loginMenu .btn:hover {
            background: rgb(var(--preto));
        }

    /* erro */
    .erro {
        border:2px solid red;
        animation:tremer 0.2s;
    }
        @keyframes tremer {
        0%{transform:translateX(0);}
        25%{transform:translateX(-5px);}
        50%{transform:translateX(5px);}
        75%{transform:translateX(-5px);}
        100%{transform:translateX(0);}
        }
    
    #regrasSenhaCadastro, #AlterarSenha {
    font-size: 0.8;
    color: rgb(var(--realce));
    margin-top: 5px;
    line-height: 1.4;
    }

    /* cor verde nas regras de senha */
    .valido {
        color: #2ecc36; /* verde */
        font-weight: bold;
    }

    /* aviso de email duplicado */
    #erroEmail {
        font-size:12px;
        color:red;
        margin-top:3px;
        display:none; /* já controlado pelo JS */
    }