.vaga {
    width: 75%; /* mudar depois pra ser global */
    }

/* fontes usadas: Montserrat e Roboto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* cores usadas */
:root {
    --branco: 245, 245, 245;
    --preto: 18, 18, 18;
    --cinza: 217, 217, 217;

    --realce: 28, 24, 55;

    --fontePrimaria: "Montserrat", sans-serif;
    --fonteSecundaria: "Roboto", sans-serif;
    }

/* variáveis globais */
a {
    text-decoration: none;
    color: var(--realce);
}

body {
    background-color: rgba(var(--branco), 1);
    color: rgba(var(--preto), 1);
    margin: 0;

    font-family: var(--fonteSecundaria);
    font-size: 0.9em;
    font-weight: 300;
    }

h1 {
    font-family: var(--fontePrimaria);
    font-weight: 400;
    margin-top: 0;
    }

/* navbar */
#logo {
    width: 4vh;
    margin-left: 2em;
}

#titulo {
    font-family: var(--fontePrimaria);
    font-weight: 800;
}

.navbar {
    background: rgba(var(--branco), 1);
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 2em;
}

.navbar > li {
    padding-left: 0.1em;
    padding-right: 0.1em;
    text-decoration: none;
    display: flex;
}

.navbar > li:last-child {
    font-size: 0.6em;
    margin-left: auto;
    margin-right: 1em;
}

ul {
    padding: 0;
    margin: 0;
}

    .dropdown {
        background: rgba(var(--cinza), 1);
        position: absolute;
        width: 220px;
        display: none;
        max-height: 250px;
        overflow-y: auto;
        scrollbar-width: none;
        font-size: 0.5em;
    }

    .dropdown::-webkit-scrollbar {
        display: none;
    }

    .dropdown li, .navbar li:hover .dropdown {
        display: block;
    }

/* header */
.fundo {
    justify-items: center;
    text-align: center;
    width: 100%;

    background-color: rgba(var(--branco), 1);
    }

header {
    width: 100%;
    min-height: 18em;

    display: flex;
    align-items: flex-end;

    position: relative;
    overflow: hidden;
    }

header h1 {
    user-select: none;
    max-width: 8ch;
    word-wrap: break-word;
    margin-left: 2em;

    color: rgba(var(--branco), 1);
    font-size: 3em;
    font-weight: 900;
    }

    header img {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;

        z-index: -3;
    }

    header::before {
        content: "";
        position: absolute;
        inset: 0;
    
        background-color: rgb(var(--realce));
        mix-blend-mode: color;
    
        z-index: -2;
    }